@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700;800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    height: 100vh;
}


.bg-icon {
    color: #f61c0d;
}

/* navbar section style here */

nav {
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo img {
    width: 80%;
}

.logo-title {
    font-size: 40px;
    font-weight: 700;
}

.bg-text {
    color: #ff42a5;
}

.navigation {
    display: flex;
}

.navigation li {
    list-style-type: none;
    margin: 14px 16px;
}

.navigation li a {
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.nav-btn {
    display: flex;
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);
}

/* navbar section ends here */

/* banner  section style here */
.banner {
    height: calc(100vh - 100px);
    display: flex;
}

.banner-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-right img {
    width: 80%;
    height: 80%;
}

.text-title {
    color: #0B0223;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
}

.text-gradient {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    color: transparent;
}

.xl-fs {
    font-size: 80px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.icon-details {
    color: #534C64;
    font-weight: 500;
    margin-left: 16px;
}

.button a {
    display: inline-block;
    text-decoration: none;
    padding: 14px 28px;
    border-radius: 48px;
    color: #ffffff;
    font-weight: 600;
    margin: 25px 16px 25px 0px;
}

.bg-pink {
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
}

.bg-blue {
    background-color: #4EC5F7;
}

/* banner section ends here */